{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<div{attributes -> f:format.raw()}>
        <div class="carousel slide carousel-fade homepage-carousel" id="{node.identifier}"  data-ride="carousel" data-interval="false">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                        {carouselItems -> f:format.raw()}
                </div>


                <f:if condition="{carouselItemCount} > 1">
                <!-- Controls -->
                        <a class="left carousel-control" href="#{node.identifier}" data-slide="prev" role="button">
                                <img src="{f:uri.resource(path:'Images/left.png',package:'Country.Germany')}" class="img-responsive hidden-xs">
                                <img src="{f:uri.resource(path:'Images/left-white.png',package:'Country.Germany')}" class="img-responsive visible-xs-block">
                        </a>
                        <a class="right carousel-control" href="#{node.identifier}" data-slide="next" role="button">
                                <img src="{f:uri.resource(path:'Images/right.png',package:'Country.Germany')}" class="img-responsive hidden-xs">
                                <img src="{f:uri.resource(path:'Images/right-white.png',package:'Country.Germany')}" class="img-responsive visible-xs-block">
                        </a>
                </f:if>
        </div>
</div>