{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
<f:section name="Image">  
    <f:if condition="{image}">
        <f:then>
            <img src="{f:uri.resource(resource: image.resource)}" alt="{alt}" class="img-responsive center-block" />
        </f:then>
    </f:if>
</f:section>
<section class="section" id="types">
    <f:if condition="{link}">
        <f:then>
            <a href="{link}">
                <f:render section="Image" arguments="{image:node.properties.image, alt:node.properties.title}" />
                <p class="system section-heading">{neos:contentElement.editable(property: 'headline', tag: 'span')}</p>
                <p class="system text-default">{neos:contentElement.editable(property: 'text', tag: 'span')}</p>
                <p class="system highlight-link"><a class="system link-default" href="{link}">{neos:contentElement.editable(property: 'linkText', tag: 'span')}</a></p>
                  
            </a>
        </f:then>
        <f:else>
            <f:render section="Image" arguments="{image:node.properties.image, alt:node.properties.title}" />
            <p class="system section-heading">{neos:contentElement.editable(property: 'headline', tag: 'span')}</p>
            <p class="system text-default">{neos:contentElement.editable(property: 'text', tag: 'span')}</p>  
        </f:else>
    </f:if>
</section> 